<a href="https://colab.research.google.com/github/Pogayo/Artificial-Intelligence-Class/blob/master/Perez_Ogayo_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded=files.upload()

Saving EirGridSystemDemand2014.csv to EirGridSystemDemand2014.csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
from datetime import datetime

In [0]:
raw_energy_data=pd.read_csv(io.BytesIO(uploaded['EirGridSystemDemand2014.csv']),parse_dates={"DateTime":['Date','Time']},keep_date_col=True, index_col=0)

In [38]:
raw_energy_data.head(4)

                         Date  Time  Demand
DateTime
2014-01-01 00:00:00  1/1/2014  0:00  2899.0
2014-01-01 00:15:00  1/1/2014  0:15  2869.0
2014-01-01 00:30:00  1/1/2014  0:30  2827.0
2014-01-01 00:45:00  1/1/2014  0:45  2787.0

In [39]:
raw_energy_data.dtypes

Date       object
Time       object
Demand    float64
dtype: object

In [52]:
raw_energy_data.describe()

             Demand
count  35036.000000
mean    2943.379381
std      599.643190
min     1665.000000
25%     2426.000000
50%     3014.000000
75%     3378.000000
max     4614.000000

In [18]:
raw_energy_data.shape

(35041, 3)

In [53]:
#Cleaning the data
energy_data=raw_energy_data.copy() #Deep copy to keep the raw independent from the clean data
energy_data['Date']=pd.to_datetime(raw_energy_data['Date'])  #Converting date to datetime formart
energy_data["Time"]=pd.to_datetime(energy_data["Time"]).dt.time #Converting time to datetime formart
energy_data=energy_data.fillna(0)  #replacing missing values with 0's
energy_data

                          Date      Time  Demand
DateTime
2014-01-01 00:00:00 2014-01-01  00:00:00  2899.0
2014-01-01 00:15:00 2014-01-01  00:15:00  2869.0
2014-01-01 00:30:00 2014-01-01  00:30:00  2827.0
2014-01-01 00:45:00 2014-01-01  00:45:00  2787.0
2014-01-01 01:00:00 2014-01-01  01:00:00  2724.0
...                        ...       ...     ...
2014-12-31 23:00:00 2014-12-31  23:00:00  2876.0
2014-12-31 23:15:00 2014-12-31  23:15:00  2961.0
2014-12-31 23:30:00 2014-12-31  23:30:00  2957.0
2014-12-31 23:45:00 2014-12-31  23:45:00  2948.0
2015-01-01 00:00:00 2015-01-01  00:00:00  2903.0

[35041 rows x 3 columns]

In [54]:
energy_data.describe()

            Demand
count  35041.00000
mean    2942.95939
std      600.63025
min        0.00000
25%     2426.00000
50%     3014.00000
75%     3378.00000
max     4614.00000

In [0]:
trial_data=pd.read_csv(io.BytesIO(uploaded['EirGridSystemDemand2014.csv']),parse_dates={"DateTime":['Date','Time']},keep_date_col=True, index_col=0)

In [35]:
trial_data.head()

                         Date  Time  Demand
DateTime
2014-01-01 00:00:00  1/1/2014  0:00  2899.0
2014-01-01 00:15:00  1/1/2014  0:15  2869.0
2014-01-01 00:30:00  1/1/2014  0:30  2827.0
2014-01-01 00:45:00  1/1/2014  0:45  2787.0
2014-01-01 01:00:00  1/1/2014  1:00  2724.0

In [44]:
trial_data["Time"]=pd.to_datetime(trial_data["Time"]).dt.time

TypeError: ignored

In [46]:
trial_data.dtypes

Date       object
Time       object
Demand    float64
dtype: object